@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&family=Roboto+Mono:wght@200;400&display=swap');

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0;
}

.header__svg {
  position: relative;
  left: 25px;
  width: 11%;
}

.header__img {
  width: 45%;
  margin: auto 29%;
}

.hero__about {
  background-image: url('./img/about_main_img.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 29rem;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat;
  width: 90%;
  margin: auto 5%;
  font-size: 1rem;
  color: #2c2c2c;
  text-align: center;
}

.main__section {
  width: 90%;
  text-align: center;
}

.main__section-h2 {
  font-size: 1.2rem;
  padding: 0 7%;
}

.main__section-p {
  color: #838383;
}

.main__section-svg {
  position: relative;
  top: -10px;
}

.main__section-img {
  width: 100%;
}

.main__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__articles-p {
  color: #838383;
}

.main__article {
  color: white;
  background-image: url('./img/artificial_inteligence.jpg');
  background-color: rgba(245, 61, 0, 0.693);
  background-size: 100%;
  margin: 5% 0%;
  padding: 3%;
}

.main__partners {
  font-size: 0.7rem;
  color: white;
  background-color: #3e3e3e;
  width: 110%;
  padding: 4% 0 8%;
}
