@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&family=Roboto+Mono:wght@200;400&display=swap');

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Lato';
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 2% 0;
}

.header__svg {
  position: relative;
  left: 25px;
  width: 11%;
}

.header__img {
  width: 45%;
  margin: auto 25%;
}

.hero {
  background-image: url('./img/hero_container.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 29rem;
  width: 100%;
}

.main {
  background-image: url('./img/pattern.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

.cards {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  margin: auto 4%;
  background-color: rgba(59, 62, 69, 0.3);
  /* border: 2px solid yellow; */
}

.main__h3 {
  color: #ff5438;
}

.cards__svg {
  width: 20%;
  margin: 0 5%;
}

.cards__childs {
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .header-d {
    display: flex;
    background-color: #3e3e3e;
  }

  .header__ul,
  .header__ul-2 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header-d {
    display: none;
  }
}
