@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&family=Roboto+Mono:wght@200;400&display=swap');

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0;
}

.header__svg {
  position: relative;
  left: 25px;
  width: 11%;
}

.header__img {
  width: 45%;
  margin: auto 29%;
}
